# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
. ~/.bashrc
fi

# User specific environment and startup programs

export JAVA_HOME={{ jboss_eap_base_dir }}/java/{{ jboss_java_sdk_dir }}
PATH=$PATH:$HOME/.local/bin:$HOME/bin:{{  jboss_eap_base_dir }}/java/{{ jboss_java_sdk_dir }}/bin

export PATH
